.about{
    width: 75%;
    min-width: 300px;
    p{font-size:16px; line-height:1.88em;font-family:"Open Sans", sans-serif; margin: 1rem 0; font-weight:300;}
    &__img{

    }
    &__logo{
        
    }
}