  
@import "variables.scss"; 
@import "typography.scss";
@import "buttons.scss";

@import "footer.scss";
@import "header.scss";
@import "home.scss";
@import "about.scss";
@import "research.scss";
@import "publications.scss";
@import "people.scss";

a{
    text-decoration: none;
    cursor: pointer;
    &:focus,&:visited{color:black;}
}
.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    min-height: 100vh;
    gap: 4rem;
}
*{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p{
  cursor:default;
}