@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700&display=swap');
*{
    font-family: 'Raleway';
    color: black;}

.light{
    font-weight: 300;
    font-size:14px;
    color:black;
}
.medium{
    font-weight: 400;
    font-size:16px;
}
.bold{
    font-weight: 700;
    font-size:32px;
}
p,h1,h2,h3,h6{
    color: black;
}    p,h2,h1,h3,h6{
    text-align: left;
}